/* bootom of page facebook,google,twiter */
#footer {
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 59px 0 13px;
}
#footer div p {
	color: #ffffff;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 33px 0 50px;
	text-align: center;
	text-transform: none
}
#footer div .connect {
	display: block;
	height: 30px;
	margin: 0 auto;
	max-width: none;
	overflow: hidden;
	padding: 0;
	width: 240px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 30px;
	margin: 0 15px;
	padding: 0;
	text-indent: -99999px;
	width: 30px;
}
#footer div .connect a.facebook {
	background-position: 0 0;
}
#footer div .connect a.googleplus {
	background-position: 0 -32px;
}
#footer div .connect a.pinterest {
	background-position: 0 -64px;
}
#footer div .connect a.twitter {
	background-position: 0 -96px;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #0e0d0d;
	margin: 0;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 59px 0 13px;
}
#footer div p {
	color: #FFFFFF;
	display: block;
	font-family: roboto-regular-webfont;
	font-size: 12px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 33px 0 50px;
	text-align: center;
	text-transform: none
}
#footer div .connect {
	display: block;
	height: 30px;
	margin: 0 auto;
	max-width: none;
	overflow: hidden;
	padding: 0;
	width: 240px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 30px;
	margin: 0 15px;
	padding: 0;
	text-indent: -99999px;
	width: 30px;
}
#footer div .connect a.facebook {
	background-position: 0 0;
}
#footer div .connect a.googleplus {
	background-position: 0 -32px;
}
#footer div .connect a.pinterest {
	background-position: 0 -64px;
}
#footer div .connect a.twitter {
	background-position: 0 -96px;
}

.barlogo{
    height: 150px;
    margin-top: 80px;
    width: 2000px;
}


#nav-container{
    display:flex;
    width: 100vw;
}


#bottles{
    background-image: url("./images/bottels.jpg");
    background-repeat: repeat-x;
   height: 100px;
    width: 99vw;
    background-size: contain;
}
